.wrapper {
    width: 80%;
    position: relative;
    left: 15%;
}
div.top-content {
    width: 90%;
    position: relative;
}
.bottom-content {
    width: 10%;
    position: relative;
}
textarea.title-more {
    width: 100%;
    height: 50%;
    font-family: Verdana,sans-serif;
    color: #252626;
}
label.title {
    width: 40%;
    border: solid #aaa 1px;
    border-radius: 5px;
    padding: 6px;
    display: block;
    min-width: 40%;
    min-height: 25px;
    color: #252626;
}
.l-text{
    color: #aaa;
}
.label{
    color: #aaa;
    font-weight: bolder;
    border-top: solid #aaa 1px;
    padding: 10px;
}
.stick {
    color: #aaa;
    margin-right: 40px;
    font-size: 12px;
    padding: 5px;
}
label.views{
    margin-right: 40px;
    border: solid #aaa 1px;
    border-radius: 5px;
    padding: 6px;
    display: block;
    min-width: 200px;
    min-height: 25px;
    color: #252626;
}
.block{
    display: inline-block;
}

a.link {
    text-decoration: none;
    font-weight: bolder;
    color: #80b4e1;
}
a.link:hover {
    font-weight: bolder;
    color: black;
}
.menu a {
    text-decoration: none;
    color: #66848d;
}
.menu a:hover {
    color: black;
}
.message{
    color: green;
}